body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    margin: 0;
    padding: 0;
    color: white;
}

ul > li {
    display: flex;
    list-style-type: none;
    display: inline-block;
    margin: 5px;
    font-size: 18px;
    color: #E5E7EB;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1F2937;
    color: white;
}

.header > p {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.background-one {
    background-color: #1F2937;
    display: flex;
    padding: 0 340px 120px 340px;
    gap: 128px;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
    flex-wrap: wrap;
    width: 300px;
    margin-bottom: 0;
}

.hero-secondary-text {
    margin-top: 0;
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    flex-wrap: wrap;
    width: 400px;
}

button {
    background-color: #3882f6;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 12px;
}

.image-placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 800px;
    background-color: grey;
    color: white;
    margin-top: 10px;
}

.illustration {
    width: 150px;
    height: 150px;
    border-radius: 15px;
    background-color: #3882F6;
}



.information-header-text {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}

.content {
    display: flex;
    justify-content: space-around;
}

.background-two > .content > .container > p {
    display: flex;
    flex-wrap: wrap;
    width: 100px;
}

.background-three {
    background-color: #E5E7EB;
}

.background-three > p.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    padding: 100px 300px 0 300px;
}

.background-three > p.quote-author {
    display: flex;
    font-weight: bold;
    padding-bottom: 80px;
    justify-content: end;
    padding-right: 350px;
}

.action {
    background-color: #3882F6;
    color: white;
}